@font-face{
    font-family: "GRIFTER"; 
    src: url('./FONTS/GRIFTER/GRIFTER™\ Bold.otf') format('opentype');
}



* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	width: 100%;
	height: 100vh;
	overflow: hidden;
}

.container__about {
	width: 100%;
	height: 100vh;
	/* background: rgb(224, 223, 223);
    z-index: -50; */
}








/* CERCLE *************************************************************************************************************************************************************************************************************************************************************************************************** */
#text,
#letter,
#pathTextCurved {
  pointer-events: none;
}

#letter {
  text-anchor: middle;
  alignment-baseline: central;
  font-size: 50px;
  font-weight: 100;
}

#letter,
#textCurved {
    fill: #fd0000;
    font-family: "GRIFTER";
}

#textCurved {
    
  font-weight: 900;
  text-transform: uppercase;
}

@media screen and (max-width: 600px){
    svg{
        width: 50px;
        margin: 10px;
        margin-top: -110px;
        margin-bottom: -150px;
    }
}











/* NOM TRANSITION *************************************************************************************************************************************************************************************************************************************************************************************************** */
.display_blocks__about__mobile, .display_blocks__about__tab{
    display: none;
}
.block_5__about, .block_6__about, .block_7__about, .block_8__about, .block_9__about, .block_10__about, .block_11__about{
    font-style: italic;
    color: #ca2929fa;
}
.display_blocks__about{
    display: flex;
    margin-top: 0px;
    z-index: 350;
}
.blocks__about {
    font-family: 'Rubik', sans-serif;
    display: flex;
    font-size: 2em;
    color: #fc8282a8;
    margin: 10px;
    z-index: 350;

    margin-left: auto;
    margin-right: auto;
}

/* TABLETTE ********************************************* */
@media screen and (max-width: 899px) and (min-width: 601px){
    .display_blocks__about, .display_blocks__about__mobile{
        display: none;
    }
    .block_5__about__tab, .block_6__about__tab, .block_7__about__tab, .block_8__about__tab, .block_9__about__tab, .block_10__about__tab, .block_11__about__tab{
        color: #ca2929fa;
    }
    .display_blocks__about__tab{
        display: flex;
        margin-top: 0px;
        z-index: 200;
    }
    .blocks__about__tab {
        font-family: 'Rubik', sans-serif;
        display: flex;
        font-size: 2em;
        color: #fc8282a8;
        margin: 10px;
        z-index: 99;
    
        margin-left: auto;
        margin-right: auto;
    }
}
 /* MOBILE *********************************************** */
@media screen and (max-width: 600px){
    .display_blocks__about, .display_blocks__about__tab{
        display: none;
    }
    .block_5__about__mobile, .block_6__about__mobile, .block_7__about__mobile, .block_8__about__mobile, .block_9__about__mobile, .block_10__about__mobile, .block_11__about__mobile{
        color: #ca2929fa;
    }
    .display_blocks__about__mobile{
        display: flex;
        margin-top: -80px;
        z-index: 200;
    }
    .blocks__about__mobile {
        font-family: 'Rubik', sans-serif;
        display: flex;
        font-size: 2em;
        color: #fc8282a8;
        margin: 10px;
        z-index: 99;
    
        margin-left: auto;
        margin-right: auto;
    }
}










 /* IMAGE *************************************************************************************************************************************************************************************************************************************************************************************************** */
.image {
    background-image: url("./img/md-1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 100px;
    margin-left: auto;
    margin-right: 150px;
    overflow: hidden;
    position: relative;

    width: 400px;
    height:100%;
    z-index: -1;
} 
.box-color {
    background-color: rgb(255, 255, 255);
    overflow: hidden;
    width: 400px;
    height: 500px;
}

@media screen and (max-width: 899px) and (min-width: 601px){
    .image{
        width: 300px;
        margin-left: auto;
        margin-right: 40px;
        margin-top: 175px;
    }
    .box-color{
        width: 300px;
        height: 370px;
    }
}

@media screen and (max-width: 600px){
    .image{
        width: 150px;
        margin-left: auto;
        margin-right: 20px;
        margin-top: 30px;
    }
    .box-color{
        width: 150px;
        height: 200px;
    }
}








 /* TEXTE *************************************************************************************************************************************************************************************************************************************************************************************************** */

@media screen and (min-width: 900px){
    .flex__about{
        display: flex;
    }
}
.text__bio{
    width: 600px;
    margin-left: auto;
    margin-top: 250px;
    font-size: 1.7em;
}

@media screen and (max-width: 899px) and (min-width: 601px){
    .text__bio{
        width: 500px;
        margin-left: 20px;
        margin-top: 150px;
        font-size: 1.3em;
    }
}

@media screen and (max-width: 600px){
    .text__bio{
        width: 300px;
        margin-left: 20px;
        margin-top: 70px;
        font-size: 1.1em;
    }
}








/* FOOTER **************************************************************************************************************************************************************************************** */

.footer{
    font-family: 'Mukta', sans-serif;
    /* font-family: 'Roboto', sans-serif; */
    color: rgb(0, 0, 0);
    display: flex;
    z-index: 350;
}
.footer .switch{
    /* font-family: "GRIFTER"; */
    position: absolute;
    bottom: 0;
    left: 0;
    margin-left: 50px;
    margin-bottom: 30px;
}
.footer .projects{
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: 50px;
    margin-bottom: 30px;
}
.footer #bodymovin{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    width: 5%;
    margin-bottom: 20px;
}
@media screen and (max-width: 600px){
    .footer #bodymovin{
        width: 10%;
        margin-bottom: 25px;
    }
}


/* BOUTON ******************************************************************************************************************************************************************************************************* */
.link {
    outline: none;
    text-decoration: none;
    position: relative;
    line-height: 1;
    color: #000000;
    display: inline-block;
}

.link--kukuri {
    text-transform: uppercase;
    overflow: hidden;
    /* color: #000000; */

    padding-top: 3px;
}
/* .link--kukuri:hover {
    color: #000000;
  } */
  .link--kukuri::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 100%;
    top: 50%;
    margin-top: -0.3px;
    right: 0;
    background: rgb(97, 59, 59);
    transform: translate3d(-100%, 0, 0);
    transition: transform 0.4s;
    transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
  }
  .link--kukuri:hover::after {
    transform: translate3d(100%, 0, 0);
  }
  .link--kukuri::before {
    content: attr(data-letters);
    position: absolute;
    z-index: 2;
    overflow: hidden;
    color: #000000;
    white-space: nowrap;
    width: 0%;
    transition: width 0.4s 0.3s;
  }
  .link--kukuri:hover::before {
    width: 100%;
  }