* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	width: 100%;
	height: 100vh;
	overflow: hidden;
}

.container__about {
	width: 100%;
	height: 100vh;
	/* background: rgb(224, 223, 223);
    z-index: -50; */
}












 /* NOM TRANSITION *************************************************************************************************************************************************************************************************************************************************************************************************** */
.display_blocks__about__mobile, .display_blocks__about__tab{
    display: none;
}
.block_5__about, .block_6__about, .block_7__about, .block_8__about, .block_9__about, .block_10__about, .block_11__about{
    font-style: italic;
    color: #ca2929fa;
}
.display_blocks__about{
    display: flex;
    margin-top: 0px;
    z-index: 350;
}
.blocks__about {
    font-family: 'Rubik', sans-serif;
    display: flex;
    font-size: 2em;
    color: #fc8282a8;
    margin: 10px;
    z-index: 350;

    margin-left: auto;
    margin-right: auto;
}

/* TABLETTE ********************************************* */
@media screen and (max-width: 899px) and (min-width: 601px){
    .display_blocks__about, .display_blocks__about__mobile{
        display: none;
    }
    .block_5__about__tab, .block_6__about__tab, .block_7__about__tab, .block_8__about__tab, .block_9__about__tab, .block_10__about__tab, .block_11__about__tab{
        color: #ca2929fa;
    }
    .display_blocks__about__tab{
        display: flex;
        margin-top: 0px;
        z-index: 200;
    }
    .blocks__about__tab {
        font-family: 'Rubik', sans-serif;
        display: flex;
        font-size: 2em;
        color: #fc8282a8;
        margin: 10px;
        z-index: 99;
    
        margin-left: auto;
        margin-right: auto;
    }
}
 /* MOBILE *********************************************** */
@media screen and (max-width: 600px){
    .display_blocks__about, .display_blocks__about__tab{
        display: none;
    }
    .block_5__about__mobile, .block_6__about__mobile, .block_7__about__mobile, .block_8__about__mobile, .block_9__about__mobile, .block_10__about__mobile, .block_11__about__mobile{
        color: #ca2929fa;
    }
    .display_blocks__about__mobile{
        display: flex;
        margin-top: 0px;
        z-index: 200;
    }
    .blocks__about__mobile {
        font-family: 'Rubik', sans-serif;
        display: flex;
        font-size: 2em;
        color: #fc8282a8;
        margin: 10px;
        z-index: 99;
    
        margin-left: auto;
        margin-right: auto;
    }
}










 /* IMAGE *************************************************************************************************************************************************************************************************************************************************************************************************** */
.image {
    background-image: url("./img/md-1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 100px;
    margin-left: auto;
    margin-right: 150px;
    overflow: hidden;
    position: relative;

    width: 400px;
    height:100%;
    z-index: -1;
} 
.box-color {
    background-color: rgb(255, 255, 255);
    overflow: hidden;
    width: 400px;
    height: 500px;
}

@media screen and (max-width: 899px) and (min-width: 601px){
    .image{
        width: 300px;
        margin-left: auto;
        margin-right: 40px;
        margin-top: 175px;
    }
    .box-color{
        width: 300px;
        height: 370px;
    }
}

@media screen and (max-width: 600px){
    .image{
        width: 150px;
        margin-left: auto;
        margin-right: 20px;
        margin-top: 50px;
    }
    .box-color{
        width: 150px;
        height: 200px;
    }
}








 /* TEXTE *************************************************************************************************************************************************************************************************************************************************************************************************** */

@media screen and (min-width: 900px){
    .flex__about{
        display: flex;
    }
}
.text__bio{
    width: 600px;
    margin-left: auto;
    margin-top: 250px;
    font-size: 1.7em;
}

@media screen and (max-width: 899px) and (min-width: 601px){
    .text__bio{
        width: 500px;
        margin-left: 20px;
        margin-top: 150px;
        font-size: 1.3em;
    }
}

@media screen and (max-width: 600px){
    .text__bio{
        width: 300px;
        margin-left: 20px;
        margin-top: 30px;
        font-size: 1.1em;
    }
}