@font-face{
    font-family: "GRIFTER"; 
    src: url('./FONTS/GRIFTER/GRIFTER™\ Bold.otf') format('opentype');
}

@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');



*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #ca292971;
    z-index: -100;
}

/* ************************************************* */
/* CACHER LA SCROLLBAR POUR Chrome, Safari and Opera */
body::-webkit-scrollbar {
    display: none;
}
/* CACHER LA SCROLLBAR POUR IE, Edge ET Firefox */
body {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
/* ************************************************ */




.overlay__one{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0%;
    z-index: 599;
}
/* anime.js */
.wave-1, .wave-2 {
    position: absolute;
    height: 180vh;
    width: 100%;
}
.overlay svg {
    width: 100%;
}
/* ************ */

.cross i{
    color: rgb(248, 196, 196);
    font-size: 2.5em;
    margin-top: 30px;
    margin-left: -50px;
    transition: 1.3s;
}
.cross i:hover{
    color: rgb(255, 255, 255);
    opacity: 1;
}








#title__h1{
    font-family: "GRIFTER";
    font-size: 3em;
    color: rgb(255, 255, 255);
    text-align: center;

    margin-top: -40px;
    padding-top: 18px;
}
.title{
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 70px;
}

@media screen and (max-width: 600px){
    #title__h1{
        margin-top: 130px;
        font-size: 1em;
    }
    .title{
        height: 161px;
    }

    .laptop_presentation{
        display: none;
    }
}



.presentation{
    text-align: center;
    padding-top: 150px;
}

.video{
    width: 900px;
}

figcaption{
    color: white;
    font-family: 'Rubik', sans-serif;
}

@media screen and (max-width: 600px){
    .presentation{
        padding-top: 200px;
    }
    .video{
        width: 350px;
    }
}


@media screen and (min-width: 601px){
    .presentation{
        display: none;
    }
}











/* BOUTON PLAY */
.round-button--large {
    width: 92px;
    height: 92px;
    display: inline-block;
    border-radius: 50%;
    font-size: 24px;
    line-height: 24px;
    background: transparent;
    border: none;
    margin: 0;
    margin-right: 4rem;
    padding: 0;
    cursor: pointer;
    outline: 0;
    transition: all 500ms ease-in;
    transform: scale(1);
    font-family: inherit;
    box-shadow: none;
  }
  @media screen and (max-width: 600px) {
    .round-button--large {
      margin-right: 2rem;
    }
  }
  .round-button--large .round-button--icon {
    fill: rgb(255, 255, 255);
  }
  .round-button--large .round-button-play {
    display: inline-block;
  }
  .round-button--large:focus {
    transition: all 50ms ease-in;
    transform: scale(1.1);
  }
  .round-button--large:hover {
    transition: all 500ms ease;
    transform: scale(1.25);
  }
  .round-button--large:last-child {
    margin-right: 0;
  }

  
  
  