@font-face{
    font-family: "GRIFTER"; 
    src: url('./FONTS/GRIFTER/GRIFTER™\ Bold.otf') format('opentype');
}


*{
    margin: 0;
    padding: 0;
}

body{
    background-color: salmon;
}

.overlay__one{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0%;
    z-index: 599;
}
/* anime.js */
.wave-1, .wave-2 {
    position: absolute;
    height: 180vh;
    width: 100%;
}
.overlay svg {
    width: 100%;
}
/* ************ */




#title__h1{
    font-family: "GRIFTER";
    font-size: 3em;
    color: rgb(255, 255, 255);
    text-align: center;
}
.title{
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 92px;
}

@media screen and (max-width: 600px){
    #title__h1{
        margin-top: 230px;
        font-size: 1.1em;
    }
    .title{
        height: 265px;
    }
}



.presentation{
    text-align: center;
    padding-top: 150px;
}

video{
    width: 900px;
}

@media screen and (max-width: 600px){
    .presentation{
        padding-top: 300px;
    }
    video{
        width: 350px;
    }
}