@font-face{
    font-family: "GRIFTER"; 
    src: url('./FONTS/GRIFTER/GRIFTER™\ Bold.otf') format('opentype');
}


*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #ca2929;
}

/* ************************************************* */
/* CACHER LA SCROLLBAR POUR Chrome, Safari and Opera */
body::-webkit-scrollbar {
    display: none;
}
/* CACHER LA SCROLLBAR POUR IE, Edge ET Firefox */
body {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
/* ************************************************ */




.overlay__one{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0%;
    z-index: 599;
}
/* anime.js */
.wave-1, .wave-2 {
    position: absolute;
    height: 180vh;
    width: 100%;
}
.overlay svg {
    width: 100%;
}
/* ************ */

.cross i{
    color: rgb(248, 196, 196);
    font-size: 2.5em;
    margin-top: 30px;
    margin-left: -50px;
    transition: 1.3s;
}
.cross i:hover{
    color: rgb(255, 255, 255);
    opacity: 1;
}








#title__h1{
    font-family: "GRIFTER";
    font-size: 3em;
    color: rgb(255, 255, 255);
    text-align: center;
}
.title{
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 92px;
}

@media screen and (max-width: 600px){
    #title__h1{
        margin-top: 130px;
        font-size: 1.1em;
    }
    .title{
        height: 165px;
    }
}



.presentation{
    text-align: center;
    padding-top: 150px;
}

video{
    width: 900px;
}

figcaption{
    color: white;
}

@media screen and (max-width: 600px){
    .presentation{
        padding-top: 200px;
    }
    video{
        width: 350px;
    }
}