@font-face{
    font-family: "GRIFTER"; 
    src: url('./FONTS/GRIFTER/GRIFTER™\ Bold.otf') format('opentype');
}

@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');



*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	font-size: 16px;
}

main {
	overflow: hidden;
	position: relative;
}

/* NAVBAR ******************************************************************************************************************************************************************************************************************************************************************************************** */
.navbar {
	position: fixed;
	width: 100%;
	height: 100px;
	padding: 0 40px;
	display: flex;
	justify-content: space-between;
    /* justify-content: space-around; */
	font-family: Arial, Helvetica, sans-serif !important;
	text-transform: uppercase;
	line-height: 100px;
	color: #000000;
    z-index: 350;
}

.site_menu {
	display: flex !important;
    color: rgb(0, 0, 0);
}

.menu_item {
	margin-left: 60px;
}



/* @media (max-width: 900px) {
	.navbar {
		display: none;
	}
} */

/* *********************** */

.link {
    outline: none;
    text-decoration: none;
    position: relative;
    line-height: 1;
    color: #000000;
    display: inline-block;
}

.link--kukuri {
    text-transform: uppercase;
    overflow: hidden;
    /* color: #000000; */

    padding-top: 3px;
}
.link--kukuri::after {
    content: "";
    position: absolute;
    height: 1.5px;
    width: 100%;
    top: 50%;
    margin-top: 0.3px;
    right: 0;
    background: rgb(0, 0, 0);
    transform: translate3d(-100%, 0, 0);
    transition: transform 0.4s;
    transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
}
.link--kukuri:hover::after {
    transform: translate3d(100%, 0, 0);
}
.link--kukuri::before {
    content: attr(data-letters);
    position: absolute;
    z-index: 2;
    overflow: hidden;
    color: #000000;
    white-space: nowrap;
    width: 0%;
    transition: width 0.4s 0.3s;
}
.link--kukuri:hover::before {
    width: 100%;
}
/* ********************************************************************************************************************************************************************************************************************************* */



.content {
	padding: 3rem;
	min-height: 90vh;
	display: flex;
	position: relative;
	flex-direction: column;
	align-content: center;
	justify-content: space-between;
}

.content--auto {
	min-height: 0;
}

.content--feature {
	justify-content: flex-start;
	min-height: 0;
}

.content--fixed {
	position: fixed;
	/* z-index: 1000; */
	width: 100%;
	top: 0;
}

/* .content__pretitle {
	margin-top: auto;
	font-size: 1.85rem;
	color: white;
} */

/* .content__pretitle::before {
	content: "\2015";
	margin-right: 0.25rem;
} */

.content__title {
	font-size: 9vw;
	line-height: 0.8;
	margin: 0 0 3rem 0;
	font-weight: 400;
	max-width: 800px;
	will-change: transform;
}

.content__text {
	font-size: 2.25rem;
	font-size: clamp(1rem, 4vw, 2.25rem);
}

.content__text--right {
	align-self: flex-end;
}

.content__text--centered {
	margin: auto;
}

.content__breakout {
	margin: 0 -3rem;
	white-space: nowrap;
	text-transform: uppercase;
	font-family: span, serif;
	font-weight: 200;
	font-style: italic;
	color: #211f1b;
}

.content__breakout--big {
	font-size: 13vw;
	font-weight: 200;
}

.content__breakout--medium {
	font-size: 5vw;
}

.tiles {
	--tiles-height: 52vw;
	height: var(--tiles-height);
	position: relative;
	overflow: hidden;
}

.tiles--columns-rotated {
	--tiles-height: 180vmax;
}

.tiles--columns {
	--tiles-height: 140vh;
}

.tiles--oneline {
	--tiles-height: 50vh;
	min-height: 400px;
	margin: 10vh 0;
}

.tiles--small {
	--tiles-height: 100px;
	margin: 10vh 0 0;
}

.tiles--fixed {
	--tiles-height: 65vw;
	margin-top: 25vh;
}

.tiles--perspective {
	overflow: visible;
	perspective: 1000px;
	--tiles-height: 500px;
}

.tiles__wrap {
	width: 150%;
	--tileswrap-height: var(--tiles-height);
	height: var(--tileswrap-height);
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate3d(-50%,-50%, 0);
}

.tiles--rotated .tiles__wrap {
	--tileswrap-height: calc(var(--tiles-height) * 1.8);
	transform: translate3d(-50%,-50%, 0) rotate(22.5deg);
}

.tiles--columns-rotated .tiles__wrap {
	width: 150%;
	display: flex;
	transform: translate3d(-50%,-50%,0) rotate(-22.5deg);
	left: 50%;
	top: 50%;
	align-items: center;
	justify-content: center;
}

.tiles--columns .tiles__wrap {
	width: 100%;
	display: flex;
	--tileswrap-height: calc(var(--tiles-height) * 1.4);
	transform: translate3d(0,-50%,0);
	left: 0;
	top: 50%;
}

.tiles--perspective .tiles__wrap {
	width: 200%;
    transform: translate3d(-50%,-50%,0) translateX(-25%) translateZ(-1200px) rotateX(75.5deg) rotateZ(12deg);
}

.tiles--fixed .tiles__wrap {
	width: 100%;
}

.tiles__line {
	display: flex;
}

.tiles--columns .tiles__line {
	width: 25%;
	padding: 0 1rem;
	display: block;
}

.tiles--columns-rotated .tiles__line {
	width: 320px;
	flex: none;
	padding: 0 1.5vw;
	display: block;
}

.tiles--columns-rotated .tiles__line:nth-child(even) {
	margin-top: -160px;
}

.tiles--oneline .tiles__line {
	height: 100%;
}

.tiles--small .tiles__line {
	height: 100%;
}

.tiles__line-img {
	--tile-margin: 2vw;
	flex: none;
	width: calc(16.6666% - var(--tile-margin) * 2);
	height: calc( var(--tileswrap-height) / 3 - (3 * var(--tile-margin) / 2));
	margin: var(--tile-margin);
	background-size: cover;
	background-position: 50% 50%;
}

.tiles--perspective .tiles__line-img {
	backface-visibility: hidden;
	outline: 1px solid transparent;
	--tile-margin: 1vw;
	width: calc(16.6666% - var(--tile-margin) * 2);
	height: calc(16.666vw * 1.3);
}

.tiles--oneline .tiles__line-img {
	--tile-margin: 1vw;
	margin: 0 var(--tile-margin);
	width: calc(25% - var(--tile-margin) * 2);
	height: 100%;
}

.tiles--small .tiles__line-img {
	--tile-margin: 5px;
	margin: 0 var(--tile-margin);
	width: calc(12.5% - var(--tile-margin) * 2);
	height: 100%;
}

.tiles--rotated .tiles__line-img {
	--tile-margin: 1vw;
	width: calc(16.6666% - var(--tile-margin) * 2);
	height: calc( var(--tileswrap-height) / 5 - (4 * var(--tile-margin) / 2));
}

.tiles--columns-rotated .tiles__line-img {
	--tile-margin: 3vw 0;
	width: 100%;
	height: 400px;
}

.tiles--columns .tiles__line-img {
	--tile-margin: 2rem 0;
	width: 100%;
	height: calc(25vw * 1.3);
}

.tiles--fixed .tiles__line-img {
	--tile-margin: 10px;
	-webkit-filter: brightness(0.8);
	width: calc(16.6666% - var(--tile-margin) * 2);
	height: calc( var(--tileswrap-height) / 3 - (3 * var(--tile-margin) / 2));
}



/* FILTRE *********** */
.tiles--darker .tiles__line-img {
	opacity: 0.7;
}




.tiles__title {
	position: absolute;
	height: 90vh;
	width: 100%;
	/* display: flex; */
	justify-content: center;
	align-items: center;
	font-size: 9vw;
	padding: 3rem;
	margin: 0;
	line-height: 0.8;
}

@media screen and (max-width: 600px){
	.tiles__title{
		margin-top: -90px;
		padding: 20px;
	}
}




#title__h1{
    font-family: "GRIFTER";
	text-align: center;
}
.title_passion{
    /* position: absolute; */
    overflow: hidden;
    width: 100%;
    height: 300px;
	margin-top: 50px;
}
#title__h1-2{
    font-family: "GRIFTER";
	text-align: center;
}
.title_passion2{
    /* position: absolute; */
    overflow: hidden;
    width: 100%;
    height: 300px;
	margin-top: -160px;
}





.tiles__title--alt {
	font-size: 9vw;
	font-size: clamp(2rem, 9vw, 7.25rem);
}

.tiles__title--intro {
	padding-top: 10vh;
	align-items: flex-start;
	justify-content: flex-start;
}

.tiles__title--right {
	justify-content: flex-end;
}

.tiles__title--left {
	justify-content: flex-start;
}

.tiles__title--full {
	height: 100%;
}
.coif{
	margin-top: 100px;
}
@media screen and (max-width: 600px){
	/* .coif{
		margin-top: 30px;
	} */
	
	.title_passion{
		margin-top: 250px;
		padding-top: 10px;
		height: 40px;
	}
	.title_passion2{
		margin-top: 10px;
		padding-top: 10px;
		height: 40px;
	}
}






@media screen and (min-width: 53em) {
	.tiles--columns-rotated .tiles__line {
		width: 33vmax;
	}
	.tiles--columns-rotated .tiles__line:nth-child(even) {
		margin-top: -20vmax;
	}
	.tiles--columns-rotated .tiles__line-img {
		height: 40vmax;
	}
	.content--numbered::after {
		counter-increment: contentSection;                   
		content: counter(contentSection,decimal-leading-zero);
		position: absolute;
		top: 50%;
		right: 3rem;
		border: 1px solid;
		color: var(--color-alt);
		width: 4rem;
		height: 4rem;
		margin-top: -2rem;
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 50%;
	}
	.content__text {
		max-width: 800px;
		width: 50vw;
		min-width: calc(300px - 6rem);
	}
	.content__text--wide {
		max-width: 1000px;
		width: 65vw;
	}
	.tiles--small {
		--tiles-height: 240px;
	}
}




/* VIDEO***************************************************************************************************************************************************************************************************************************************** */
.presentation__laptop{
	text-align: center;
	margin-top: 500px;

	margin-left: 100px;
	margin-right: 100px;
	padding: 30px;
	background-color: #ca2929b9;
}
.video{
	max-width: 750px;
    height: 100%;
}

figcaption{
    color: white;
    font-family: 'Rubik', sans-serif;
}

@media screen and (max-width: 600px){
	/* .laptop_presentation{
        display: none;
    } */
	.presentation__laptop{
        display: none;
    }
    .presentation__mobile{
        margin-top: 70px;
		text-align: center;	
		background-color: #ca2929b9;
		margin-left: 40px;
		margin-right: 40px;
		padding: 30px;
    }

    .video{
        max-width: 350px;
        height: 100%;
    }

	/* .presentation p{
		position: relative;
	} */
}


@media screen and (min-width: 601px){
    .presentation__mobile{
        display: none;
    }
}






/* BOUTON PLAY */
/* .round-button--large {
    width: 92px;
    height: 92px;
    display: inline-block;
    border-radius: 50%;
    font-size: 24px;
    line-height: 24px;
    background: transparent;
    border: none;
    margin: 0;
    margin-right: 4rem;
    padding: 0;
    cursor: pointer;
    outline: 0;
    transition: all 500ms ease-in;
    transform: scale(1);
    font-family: inherit;
    box-shadow: none;
  }
  @media screen and (max-width: 600px) {
    .round-button--large {
      margin-right: 2rem;
    }
  }
  .round-button--large .round-button--icon {
    fill: rgb(0, 0, 0);
  }
  .round-button--large .round-button-play {
    display: inline-block;
  }
  .round-button--large:focus {
    transition: all 50ms ease-in;
    transform: scale(1.1);
  }
  .round-button--large:hover {
    transition: all 500ms ease;
    transform: scale(1.25);
  }
  .round-button--large:last-child {
    margin-right: 0;
  }


	.laptop_presentation{
		position: relative;
		margin-top: 300px;
	} */