@font-face{
    font-family: "GRIFTER"; 
    src: url('./FONTS/GRIFTER/GRIFTER™\ Bold.otf') format('opentype');
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body{
    background-color: #fff;
}

.section_one{
    height: 100vh;
}
.section{
    height: 90vh;
}
.projet__2, .projet__3, .projet__4{
    margin-top: 300px;
}

@media screen and (max-width: 899px){
    .section{
        height: 35vh;
    }
    
}
@media screen and (max-width: 599px){
    .section{
        height: 40vh;
    }
    .projet__2{
        margin-top: 0px;
    }
    .projet__3{
        margin-top: 0px;
    }
    .projet__4{
        margin-top: 0px;
    }
}


.main_name{
    position: fixed;
    font-family: 'Mukta', sans-serif;

    left: 50%;
    transform: translateX(-50%);
    text-align: center;

    width: 110%;
    height: 57px;
    overflow: hidden;
    padding-top: 10px;
    z-index: 300;
}
.name_one h1{
    font-size: 2em;
    font-weight: lighter;
    margin-top: 10px;
    color: rgb(0, 0, 0);
}


/* NAVBAR ******************************************************** */
.navbar {
	position: fixed;
	width: 100%;
	height: 100px;
	padding: 0 40px;
	display: flex;
	justify-content: space-between;
    /* justify-content: space-around; */
	font-family: Arial, Helvetica, sans-serif !important;
	text-transform: uppercase;
	line-height: 100px;
	color: #000000;
    z-index: 350;
}

.site_menu {
	display: flex !important;
    color: rgb(0, 0, 0);
}

.menu_item {
	margin-left: 60px;
}



@media (max-width: 900px) {
	.navbar {
		display: none;
	}
}

/* **************************************************** */

.link {
    outline: none;
    text-decoration: none;
    position: relative;
    line-height: 1;
    color: #000000;
    display: inline-block;
}

.link--kukuri {
    text-transform: uppercase;
    overflow: hidden;
    /* color: #000000; */

    padding-top: 3px;
}
.link--kukuri::after {
    content: "";
    position: absolute;
    height: 1.5px;
    width: 100%;
    top: 50%;
    margin-top: 0.3px;
    right: 0;
    background: rgb(0, 0, 0);
    transform: translate3d(-100%, 0, 0);
    transition: transform 0.4s;
    transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
}
.link--kukuri:hover::after {
    transform: translate3d(100%, 0, 0);
}
.link--kukuri::before {
    content: attr(data-letters);
    position: absolute;
    z-index: 2;
    overflow: hidden;
    color: #000000;
    white-space: nowrap;
    width: 0%;
    transition: width 0.4s 0.3s;
}
.link--kukuri:hover::before {
    width: 100%;
}
/* TITRE *************************************************************************************** */
.title_0{
    color: #ca2929fa;
    display: flex;
    justify-content: center;
    padding-top: 200px;
    z-index: 350;
}
@media screen and (max-width: 599px){
    .title_0{
        padding-top: 250px;
    }
}
.t0{
    /* margin-top: 200px; */
    display: flex;
}
.word-one-0, .word-two-0, .word-three-0{
    font-family: "GRIFTER"; 
    font-weight: lighter;
    font-size: 6em;
}
.display-h1-0 {
    overflow: hidden;
    max-width: 123px;
    height: 136px;
}

.t02{
    /* margin-top: 200px; */
    display: flex;
    margin-left: 20px;
}
.word-one-02, .word-two-02, .word-three-02, .word-four-02, .word-five-02, .word-six-02, .word-seven-02{
    font-family: "GRIFTER"; 
    font-weight: lighter;
    font-size: 6em;
}
.display-h1-02 {
    overflow: hidden;
    max-width: 137px;
    height: 136px;
}

@media screen and (max-width: 899px){
    .word-one-0, .word-two-0, .word-three-0{
        font-size: 4em;
    }
    .word-one-02, .word-two-02, .word-three-02, .word-four-02, .word-five-02, .word-six-02, .word-seven-02{
        font-size: 4em;
    }
    .display-h1-0{
        height: 91px;
    }
    .display-h1-02{
        height: 91px;
    }
}
@media screen and (max-width: 599px){
    .word-one-0, .word-two-0, .word-three-0{
        font-size: 2em;
    }
    .word-one-02, .word-two-02, .word-three-02, .word-four-02, .word-five-02, .word-six-02, .word-seven-02{
        font-size: 2em;
    }
    .display-h1-0{
        height: 47px;
    }
    .display-h1-02{
        height: 47px;
    }
}

/* ARROW ************************************ */
.fleche{
    text-align: center;
    margin-top: 200px;
}
svg{
    margin-top: 15px;
}
.scroll {
    position: relative;
    margin: auto;
    text-align: center;
    height: 80px;
    overflow: hidden;
  }
  .scroll__line {
    position: absolute;
    top: 0;
    left: 50%;
    display: block;
    width: 1px;
    height: 100%;
    z-index: 10;
    background-color: #000000;
    -webkit-animation: scroll 2s infinite normal;
            animation: scroll 2s infinite normal;
    transform: translateY(-50%);
  }
  .scroll__arrow {
    display: block;
    position: relative;
    z-index: 111;
    padding-left: 1px;
    top: -13px;
  }
  
  @-webkit-keyframes scroll {
    0% {
      transform: translate3d(0, -100%, 0);
    }
    15% {
      transform: translate3d(0, -95%, 0);
    }
    85% {
      transform: translate3d(0, 95%, 0);
    }
    100% {
      transform: translate3d(0, 100%, 0);
    }
  }
  
  @keyframes scroll {
    0% {
      transform: translate3d(0, -100%, 0);
    }
    15% {
      transform: translate3d(0, -95%, 0);
    }
    85% {
      transform: translate3d(0, 95%, 0);
    }
    100% {
      transform: translate3d(0, 100%, 0);
    }
  }




@media screen and (max-width: 600px){
    .fleche{
        margin-top: 140px;
    }
    svg{
        margin-top: 10px;
        margin-right: 0px;
    }
}


/* PROJETS ************************************************************************************* */

.title{
    color: rgb(99, 7, 58);
    display: flex;
    justify-content: center;
    margin-top: 100px;
    z-index: 350;
}
.t1{
    display: flex;
}
.word-one, .word-two, .word-three, .word-four, .word-five, .word-six, .word-seven{
    font-family: "GRIFTER"; 
    font-weight: lighter;
    font-size: 3em;
}
.display-h1 {
    overflow: hidden;
    max-width: 123px;
    height: 69px;
}

.t2{
    /* margin-top: 300px; */
    display: flex;
    margin-left: 20px;
}
.word-one-2, .word-two-2, .word-three-2, .word-four-2, .word-five-2, .word-six-2, .word-seven-2, .word-eight-2{
    font-family: "GRIFTER"; 
    font-weight: lighter;
    font-size: 3em;
}
.display-h1-2 {
    overflow: hidden;
    max-width: 137px;
    height: 69px;
}

/* @media screen and (max-width: 899px){
    .word-one, .word-two, .word-three, .word-four, .word-five, .word-six, .word-seven{
        font-size: 1.4em;
    }
    .word-one-2, .word-two-2, .word-three-2, .word-four-2, .word-five-2, .word-six-2, .word-seven-2, .word-eight-2{
        font-size: 1.9em;
    }
    .display-h1{
        height: 32px;
    }
    .display-h1-2{
        height: 32px;
    }
} */

@media screen and (max-width: 599px){
    .t1{
        margin-top: -50px;
    }
    .t2{
        margin-top: -50px;
    }
    .word-one, .word-two, .word-three, .word-four, .word-five, .word-six, .word-seven{
        font-size: 1.4em;
    }
    .word-one-2, .word-two-2, .word-three-2, .word-four-2, .word-five-2, .word-six-2, .word-seven-2, .word-eight-2{
        font-size: 1.4em;
    }
    .display-h1{
        height: 32px;
    }
    .display-h1-2{
        height: 32px;
    }
}

/* projet 2 *************************************************** */
.title_2{
    color: rgb(146, 75, 16);
    display: flex;
    justify-content: center;
    /* margin-bottom: 100px; */
    z-index: 350;
}
.t3{
    /* padding-top: 400px; */
    display: flex;
}
.word-one, .word-two, .word-three, .word-four, .word-five, .word-six, .word-seven{
    font-family: "GRIFTER"; 
    font-weight: lighter;
    font-size: 3em;
}

.display-h1-3 {
    overflow: hidden;
    max-width: 137px;
    height: 69px;
}

@media screen and (max-width: 599px){
    .t3{
        /* margin-top: -450px; */
        margin-top: 0px;
    }
    .word-one, .word-two, .word-three, .word-four, .word-five, .word-six, .word-seven{
        font-size: 1.4em;
    }
    .display-h1-3{
        height: 32px;
    }
}
/* ************************************************************ */

/* projet 3 *************************************************** */
.title_3{
    color: rgb(142, 156, 196);
    display: flex;
    justify-content: center;
    /* margin-bottom: 100px; */
    z-index: 350;
}
.t4{
    display: flex;
}
.word-one, .word-two, .word-three, .word-four, .word-five, .word-six, .word-seven{
    font-family: "GRIFTER"; 
    font-weight: lighter;
    font-size: 3em;
}

.display-h1-3 {
    overflow: hidden;
    max-width: 137px;
    height: 69px;
}

@media screen and (max-width: 599px){
    .t4{
        /* margin-top: -450px; */
        margin-top: 0px;
    }
    .word-one, .word-two, .word-three, .word-four, .word-five, .word-six, .word-seven{
        font-size: 1.4em;
    }
    .display-h1-3{
        height: 32px;
    }
    /* .title_3{
        margin-top: -300px;
    } */
}
/* ************************************************************ */
/* projet 4 *************************************************** */
.title_4{
    color: rgb(8, 133, 8);
    display: flex;
    justify-content: center;
    /* margin-bottom: 100px; */
    z-index: 350;
}
.t5{
    display: flex;
}
.word-one, .word-two, .word-three, .word-four, .word-five, .word-six, .word-seven{
    font-family: "GRIFTER"; 
    font-weight: lighter;
    font-size: 3em;
}

.display-h1-4 {
    overflow: hidden;
    max-width: 137px;
    height: 69px;
}

@media screen and (max-width: 599px){
    .t5{
        /* margin-top: -450px; */
        margin-top: 0px;
    }
    .word-one, .word-two, .word-three, .word-four, .word-five, .word-six, .word-seven{
        font-size: 1.4em;
    }
    .display-h1-4{
        height: 32px;
    }
}






.img {
    /* width: 80%; */
    width: 60%;
    margin: 0 auto;
    line-height: 0;
    position: relative;
    z-index: -150;
}
  
.img img {
    width: 100%;
}
  
.img article {
    position: absolute;
    top: 0;
    width: 100%;
    background: white;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
    mix-blend-mode: lighten;
}
  
.img div {
    background: rgb(255, 0, 179);
    /* height: 26.35vw; */
    height: 19.7vw;
}
  
.img div:nth-of-type(2) {
    grid-column: 2/4;
}



@media screen and (max-width: 599px){
    .img{
        width: 80%;
    }
    .img div{
        height: 26.35vw
    }
    .img article{
        grid-gap: 5px;
    }
}

/* ************************************************************ */

.img__2 {
    /* width: 80%; */
    width: 60%;
    margin: 0 auto;
    line-height: 0;
    position: relative;
    z-index: -150;

    /* margin-top: 100px; */
}
  
.img__2 img {
    width: 100%;
}
  
.img__2 article {
    position: absolute;
    top: 0;
    width: 100%;
    background: white;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
    mix-blend-mode: lighten;
}
  
.img__2 div {
    background: rgba(85, 146, 16, 0.589);
    /* height: 26.5vw; */
    height: 19.78vw;
}
  
.img__2 div:nth-of-type(2) {
    grid-column: 2/4;
}

@media screen and (max-width: 599px){
    .img__2{
        width: 80%;
    }
    .img__2 div{
        height: 26.35vw
    }
    .img__2 article{
        grid-gap: 5px;
    }
    /* .img__2{
        margin-top: 0px;
    } */
}
/* ************************************************************ */

.img__3 {
    /* width: 80%; */
    width: 60%;
    margin: 0 auto;
    line-height: 0;
    position: relative;
    z-index: -150;
}
  
.img__3 img {
    width: 100%;
}
  
.img__3 article {
    position: absolute;
    top: 0;
    width: 100%;
    background: rgb(255, 255, 255);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
    mix-blend-mode: lighten;
}
  
.img__3 div {
    background: rgba(6, 28, 124, 0.836);
    /* height: 26.5vw; */
    height: 19.65vw;
}
  
.img__3 div:nth-of-type(2) {
    grid-column: 2/4;
}

@media screen and (max-width: 599px){
    .img__3{
        width: 80%;
    }
    .img__3 div{
        height: 26.35vw
    }
    .img__3 article{
        grid-gap: 5px;
    }
    /* .img__3{
        margin-top: -400px;
    } */
}

/* ************************************************************ */

.img__4 {
    /* width: 80%; */
    width: 60%;
    margin: 0 auto;
    line-height: 0;
    position: relative;
    z-index: -150;
}
  
.img__4 img {
    width: 100%;
}
  
.img__4 article {
    position: absolute;
    top: 0;
    width: 100%;
    background: rgb(255, 255, 255);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
    mix-blend-mode: lighten;
}
  
.img__4 div {
    background: rgba(33, 124, 6, 0.836);
    /* height: 26.5vw; */
    height: 19.65vw;
}
  
.img__4 div:nth-of-type(2) {
    grid-column: 2/4;
}

@media screen and (max-width: 599px){
    .img__4{
        width: 80%;
    }
    .img__4 div{
        height: 26.35vw
    }
    .img__4 article{
        grid-gap: 5px;
    }
}







/* FOOTER **************************************************************************************************************************************************************************************** */

.footer{
    font-family: 'Mukta', sans-serif;
    /* font-family: 'Roboto', sans-serif; */
    color: rgb(0, 0, 0);
    display: flex;
}
.footer .switch{
    /* font-family: "GRIFTER"; */
    position: absolute;
    bottom: 0;
    left: 0;
    margin-left: 50px;
    margin-bottom: 30px;

    z-index: 950;
}
.footer .projects{
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: 50px;
    margin-bottom: 30px;

    z-index: 950;
}

/* ********************************************************************************************************************************************************************************************** */

@-webkit-keyframes marqueeAnimation {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }
  @keyframes marqueeAnimation {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }
  .marquee {
    display: flex;
    white-space: nowrap;
    width: 100%;
    font-size: 200px;
    position: relative;
    width: 100%;
    pointer-events: none;

    font-family: "GRIFTER";
    color: #ca2929fa;
  }
  .marquee span:after {
    content: " ";
  }
  .marquee.left span {
    -webkit-animation: 80s marqueeAnimation infinite linear;
            animation: 80s marqueeAnimation infinite linear;
    margin-top: -100px;
  }
  .marquee.right span {
    animation: 50s marqueeAnimation infinite linear reverse;
    color: #ca292971;
    margin-top: -100px;
  }

  @media screen and (max-width: 600px){
    .marquee{
        font-size: 60px;
    }
    .marquee.left span{
        margin-top: 0px;
    }
    .marquee.right span{
        margin-top: -20px;
    }
  }
