@font-face{
    font-family: "GRIFTER"; 
    src: url('./FONTS/GRIFTER/GRIFTER™\ Bold.otf') format('opentype');
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body{
    background-color: #fff;
}

.section{
    height: 100vh;
}
.projets{
    margin-top: 250px;
}
@media screen and (max-width: 599px){
    .projets{
        margin-top: -250px;
    }
}

.main_name{
    position: fixed;
    font-family: 'Mukta', sans-serif;

    left: 50%;
    transform: translateX(-50%);
    text-align: center;

    width: 110%;
    height: 57px;
    overflow: hidden;
    padding-top: 10px;
    z-index: 300;
}
.name_one h1{
    font-size: 2em;
    font-weight: lighter;
    margin-top: 10px;
    color: rgb(0, 0, 0);
}


/* NAVBAR ******************************************************** */
.navbar {
	position: fixed;
	width: 100%;
	height: 100px;
	padding: 0 40px;
	display: flex;
	justify-content: space-between;
    /* justify-content: space-around; */
	font-family: Arial, Helvetica, sans-serif !important;
	text-transform: uppercase;
	line-height: 100px;
	color: #000000;
    z-index: 350;
}

.site_menu {
	display: flex !important;
    color: rgb(0, 0, 0);
}

.menu_item {
	margin-left: 60px;
}



@media (max-width: 900px) {
	.navbar {
		display: none;
	}
}

/* **************************************************** */

.link {
    outline: none;
    text-decoration: none;
    position: relative;
    line-height: 1;
    color: #000000;
    display: inline-block;
}

.link--kukuri {
    text-transform: uppercase;
    overflow: hidden;
    /* color: #000000; */

    padding-top: 3px;
}
.link--kukuri::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 100%;
    top: 50%;
    margin-top: -0.3px;
    right: 0;
    background: rgb(97, 59, 59);
    transform: translate3d(-100%, 0, 0);
    transition: transform 0.4s;
    transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
}
.link--kukuri:hover::after {
    transform: translate3d(100%, 0, 0);
}
.link--kukuri::before {
    content: attr(data-letters);
    position: absolute;
    z-index: 2;
    overflow: hidden;
    color: #000000;
    white-space: nowrap;
    width: 0%;
    transition: width 0.4s 0.3s;
}
.link--kukuri:hover::before {
    width: 100%;
}

/* PROJETS ************************************************************************************* */

.title{
    color: rgb(255, 0, 106);
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
    z-index: 350;
}
/* h2{
    color: #000000;
    mix-blend-mode: difference;
} */
.t1{
    margin-top: 200px;
    display: flex;
}
.word-one, .word-two, .word-three, .word-four, .word-five, .word-six, .word-seven{
    font-family: "GRIFTER"; 
    font-weight: lighter;
    font-size: 3em;
}
.display-h1 {
    overflow: hidden;
    max-width: 123px;
    height: 69px;
}

.t2{
    /* color: black; */
    margin-top: 200px;
    display: flex;
    margin-left: 20px;
}
.word-one-2, .word-two-2, .word-three-2, .word-four-2, .word-five-2, .word-six-2, .word-seven-2, .word-eight-2{
    font-family: "GRIFTER"; 
    font-weight: lighter;
    font-size: 3em;
}
.display-h1-2 {
    overflow: hidden;
    max-width: 137px;
    height: 69px;
}

@media screen and (max-width: 599px){
    .word-one, .word-two, .word-three, .word-four, .word-five, .word-six, .word-seven{
        font-size: 1.4em;
    }
    .word-one-2, .word-two-2, .word-three-2, .word-four-2, .word-five-2, .word-six-2, .word-seven-2, .word-eight-2{
        font-size: 1.4em;
    }
    .display-h1{
        height: 32px;
    }
    .display-h1-2{
        height: 32px;
    }
}

/* projet 2 *************************************************** */
.title_2{
    color: rgb(85, 146, 16);
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
    z-index: 350;
}
/* h2{
    color: #000000;
    mix-blend-mode: difference;
} */
.t3{
    margin-top: 200px;
    display: flex;
}
.word-one, .word-two, .word-three, .word-four, .word-five, .word-six, .word-seven{
    font-family: "GRIFTER"; 
    font-weight: lighter;
    font-size: 3em;
}

.display-h1-3 {
    overflow: hidden;
    max-width: 137px;
    height: 69px;
}

@media screen and (max-width: 599px){
    .word-one, .word-two, .word-three, .word-four, .word-five, .word-six, .word-seven{
        font-size: 1.4em;
    }
    .display-h1-3{
        height: 32px;
    }
}
/* ************************************************************ */

.img {
    width: 80%;
    margin: 0 auto;
    line-height: 0;
    position: relative;
    z-index: -150;
}
  
.img img {
    width: 100%;
}
  
.img article {
    position: absolute;
    top: 0;
    width: 100%;
    background: white;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
    mix-blend-mode: lighten;
}
  
.img div {
    background: rgb(255, 0, 106);
    height: 26.35vw;
}
  
.img div:nth-of-type(2) {
    grid-column: 2/4;
}

@media screen and (max-width: 599px){
    .img article{
        grid-gap: 5px;
    }
}

/* ************************************************************ */

.img__2 {
    width: 80%;
    margin: 0 auto;
    line-height: 0;
    position: relative;
    z-index: -150;
}
  
.img__2 img {
    width: 100%;
}
  
.img__2 article {
    position: absolute;
    top: 0;
    width: 100%;
    background: white;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
    mix-blend-mode: lighten;
}
  
.img__2 div {
    background: rgba(85, 146, 16, 0.589);
    height: 26.5vw;
}
  
.img__2 div:nth-of-type(2) {
    grid-column: 2/4;
}

@media screen and (max-width: 599px){
    .img__2 article{
        grid-gap: 5px;
    }
    .img__2{
        margin-top: -100px;
    }
}









.lorem{
    width: 900px;
    margin-left: auto;
    margin-right: auto;

    margin-top: 450px;
}









.o-title {
    perspective: 600px;
    -webkit-perspective: 600px;
  }
  .o-title_line {
    display: block;
    opacity: 0;
    transform-origin: center top;
    transform-style: preserve-3d;
    transform: translateY(100%) rotateX(-80deg);
    transition: opacity 0.8s cubic-bezier(0.215, 0.61, 0.355, 1),
      transform 0.8s cubic-bezier(0.215, 0.61, 0.355, 1);
    font-size: 0;
  }
  .o-title.is-inview .o-title_line {
    transform: none;
    opacity: 1;
  }
  .o-title.is-inview .o-title_line:first-child {
    transition-delay: 0.4s;
  }
  .o-title.is-inview .o-title_line:nth-child(2) {
    transition-delay: 0.5s;
  }
  .o-title.is-inview .o-title_line:nth-child(3) {
    transition-delay: 0.6s;
  }
  .o-title.is-inview .o-title_line:nth-child(4) {
    transition-delay: 0.7s;
  }
  .o-title.is-inview .o-title_line:nth-child(5) {
    transition-delay: 0.8s;
  }